<h3>Novo aluguel:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/aluguel/new" method="POST">
            <label for="ferramenta"> Usuario:</label>
            <select name="usuario" class='custom-select'>
                {{#each usuario}}
                    <option value="{{_id}}" >{{nome}}</option>
                {{else}}
                    <option value="">Nenhum usuário localizado!</option>
                {{/each}}
            </select> 

            <label for="ferramenta"> Ferramenta</label>
            <select name="ferramenta" class='custom-select'>
                {{#each ferramenta}}
                    <option value="{{_id}}" >{{modelo}} - {{tipo}}</option>
                {{else}}
                    <option value="">Nenhuma ferramenta localizada</option>
                {{/each}}
            </select> 

             <div class="row mt-4">
                    <div class="col-sm">
                        <label for="date">Data de retirada:</label>
                        <br>
                        <input type="date" id="dataretirada" name="dataRetirada">
                    </div>

                    <div class="col-sm">
                        <label for="date">Data de devolução:</label>
                        <br>
                        <input type="date" id="datadevolucao" name="dataDevolucao">
                    </div>
                </div>
            <br>
            <button type="submit" class="btn btn-success">Salvar aluguel</button>
        </form>
    </div>
</div>