<h2>Lista usu치rios:</h2>
<hr>
<a href="/admin/usuarios/add"><button class="btn btn-success">Novo usu치rio:</button></a>

{{#each usuario}}   
    <div class="card mt-4">
        <div class="card-body mt-4">
            <h4>{{nome}}</h4>
            <small>{{email}}</small>
            <br>
            <a href="/admin/usuarios/edit/{{_id}}"><div class="btn btn-success mt-4">Editar usu치rio</div></a>
            <br>
            <form action="/admin/usuarios/deletar" method="POST" >
                <input type="hidden" name="id" value="{{_id}}">
                <button class="btn btn-danger mt-2">Deletar usu치rio</button>
            </form>
        </div>
    </div>
{{else}}

{{/each}}