<h1>Meus aluguéis:</h1>
<hr>
{{#if aluguel}}
{{#each aluguel}}
<div class="card mt-3 border-primary">
    <div class="card-body ">
            <h5>{{idFerramenta.modelo}}</h5>
            <h6>{{idFerramenta.tipo}}</h6>
            
            <small>Data retirada: {{ dateFormat dataRetirada}}</small>
            <br>
            <small>Data prevista de devolução: {{ dateFormat dataDevolucao}}</small>
            <br>
            {{#if devolvidoEm}}
            <small ">Devolvido em: {{dateFormat devolvidoEm}}</small>
            {{/if}}
    </div>
</div>
{{/each}}
{{else}}
<h4>Você ainda não possui ferramentas alugadas</h4>
<a href="/"><h5>Clique aqui para ver ferramentas...</h5></a>
{{/if}}